$header-hover-bg: rgba(0, 0, 0, 0.025);

.fe-layout {
  height: 100vh;
  width: 100%;

  .ant-pro-top-nav-header-logo img {
    height: 28px;
    width: auto;
    margin-right: 8px;
  }
}

@import "./layout-top.scss";
@import "./layout-mix.scss";
@import "./layout-side.scss";
